html * {
    font-family: Helvetica, Arial, sans-serif;
}

.myimages {
    width: 225px;
    margin: 10px;
}

h1 {
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
}

.color-blue {
    background-color: rgb(11, 61, 145);
}

.button {
    font-family: 'Titillium Web', sans-serif;
}